<div class=”container”>
  <div class=”template”>
    <h1>University app with below operations </h1>

        <div class="race-class">
          <h2><p>List</p></h2>
          <h4>Universities</h4>
          <h4>Courses</h4>
          <h4>Enrolled Students</h4>
        </div>

        <div class="race-class">
          <h2><p>Facility</p></h2>
          <h4>Add / Remove Course</h4>
          <h4>Add / Remove Students</h4>
        </div>

        <div class="race-class">
          <h2><p>Course Registration</p></h2>
          <h4>For a Student</h4>
        </div>

        <div class="race-class">
          <h2><p>Unregister Course</p></h2>
          <h4>For a Student</h4>
        </div>

  </div>
</div>
